In [18]:
import pandas as pd
import numpy as np
import matplotlib as plt


#read line each line in csv file
df = pd.read_csv('card_train.csv', sep=";", quotechar='"')

#print table
print(df)

    card_id;disp_id;type;issued
0      1005;9285;classic;931107
1        104;588;classic;940119
2       747;4915;classic;940205
3         70;439;classic;940208
4       577;3687;classic;940215
5       377;2429;classic;940303
6        721;4680;junior;940405
7       437;2762;classic;940601
8       188;1146;classic;940619
9          13;87;classic;940629
10      732;4763;classic;940721
11      181;1066;classic;940819
12       384;2475;junior;940915
13      309;1946;classic;940919
14      478;3084;classic;941009
15      563;3589;classic;941021
16      369;2363;classic;941108
17      376;2428;classic;941110
18      483;3115;classic;941124
19       174;1039;junior;941204
20      658;4251;classic;941225
21       763;5138;junior;941230
22      778;5275;classic;950102
23     1039;9837;classic;950107
24       477;3082;junior;950116
25      168;1018;classic;950124
26       314;1999;junior;950127
27      468;3023;classic;950130
28         208;1246;gold;950208
29      766;5200;classic;950211
..                          ...
147     776;5263;classic;961019
148      197;1202;junior;961021
149     516;3279;classic;961025
150     381;2440;classic;961027
151      272;1754;junior;961028
152     772;5243;classic;961030
153     528;3356;classic;961031
154       87;493;classic;961102
155       88;496;classic;961104
156     441;2785;classic;961105
157     562;3583;classic;961107
158     690;4479;classic;961107
159     374;2423;classic;961108
160       57;347;classic;961109
161     722;4684;classic;961114
162     300;1890;classic;961120
163       117;649;junior;961123
164      541;3427;junior;961126
165     294;1861;classic;961204
166        10;77;classic;961207
167      710;4588;junior;961210
168      363;2324;junior;961211
169     697;4518;classic;961211
170     433;2724;classic;961212
171     642;4137;classic;961213
172     243;1478;classic;961213
173       162;967;junior;961223
174      594;3794;junior;961227
175     609;3893;classic;961229
176     786;5478;classic;961231

[177 rows x 1 columns]

In [19]:
df.describe()

       card_id;disp_id;type;issued
count                          177
unique                         177
top           13;87;classic;940629
freq                             1

In [20]:
df.head()

  card_id;disp_id;type;issued
0    1005;9285;classic;931107
1      104;588;classic;940119
2     747;4915;classic;940205
3       70;439;classic;940208
4     577;3687;classic;940215

In [21]:
df

    card_id;disp_id;type;issued
0      1005;9285;classic;931107
1        104;588;classic;940119
2       747;4915;classic;940205
3         70;439;classic;940208
4       577;3687;classic;940215
5       377;2429;classic;940303
6        721;4680;junior;940405
7       437;2762;classic;940601
8       188;1146;classic;940619
9          13;87;classic;940629
10      732;4763;classic;940721
11      181;1066;classic;940819
12       384;2475;junior;940915
13      309;1946;classic;940919
14      478;3084;classic;941009
15      563;3589;classic;941021
16      369;2363;classic;941108
17      376;2428;classic;941110
18      483;3115;classic;941124
19       174;1039;junior;941204
20      658;4251;classic;941225
21       763;5138;junior;941230
22      778;5275;classic;950102
23     1039;9837;classic;950107
24       477;3082;junior;950116
25      168;1018;classic;950124
26       314;1999;junior;950127
27      468;3023;classic;950130
28         208;1246;gold;950208
29      766;5200;classic;950211
..                          ...
147     776;5263;classic;961019
148      197;1202;junior;961021
149     516;3279;classic;961025
150     381;2440;classic;961027
151      272;1754;junior;961028
152     772;5243;classic;961030
153     528;3356;classic;961031
154       87;493;classic;961102
155       88;496;classic;961104
156     441;2785;classic;961105
157     562;3583;classic;961107
158     690;4479;classic;961107
159     374;2423;classic;961108
160       57;347;classic;961109
161     722;4684;classic;961114
162     300;1890;classic;961120
163       117;649;junior;961123
164      541;3427;junior;961126
165     294;1861;classic;961204
166        10;77;classic;961207
167      710;4588;junior;961210
168      363;2324;junior;961211
169     697;4518;classic;961211
170     433;2724;classic;961212
171     642;4137;classic;961213
172     243;1478;classic;961213
173       162;967;junior;961223
174      594;3794;junior;961227
175     609;3893;classic;961229
176     786;5478;classic;961231

[177 rows x 1 columns]